html {
	height: 100%;
	background-color: #fafafa;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}


@font-face {
	font-family: 'RistrettoPro-Regular';
	src: url('fonts/RistrettoPro-Regular.eot');
	src: local('☺'), url('../fonts/RistrettoPro-Regular.woff') format('woff'), url('../fonts/RistrettoPro-Regular.ttf') format('truetype'), url('../fonts/RistrettoPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.central-button-wrapper{
	z-index: 1;
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
	overflow: hidden;
	opacity:0.95;
    align-items: center;
    justify-content: center; 
    /*overflow: auto; */  
	text-align: center;
	display: -webkit-box; /* Android 4.3-, Safari без оптимизации */
	-webkit-box-pack: justify; /* Android 4.3-, Safari без оптимизации */
	display: -webkit-flex; /* оптимизация для Safari */
	-webkit-justify-content: space-between; /* оптимизация для Safari */
	display: flex;
	background-color: #fafafa;
	text-align: justify; /* IE10-, Firefox 12-22 */
	text-align-last: justify; /* IE10-, Firefox 12-22 */
}
.central-button-wrapper .map-object-wrapper{
	text-align: center;
	text-align-last: center;
}

.map-object-wrapper {
	z-index: 1;
	margin: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 160px;
	height: 180px;
	margin-top: -70px;
	margin-left: -80px;
}

.map-object-wrapper h2.user-name{
	z-index: 1;

	padding-top:150px;
}

h2.network-name{
	margin: 0px;
	font-family: RistrettoPro-Regular, 'Comic Sans MS', cursive;
	font-size: 1.8em;
	font-weight: normal;
}

.network-name-block{
	padding-top: 30px;
}

/* .login-form, .registration-form .{ */
.expand-block{
	overflow: hidden;
	-webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
	transition: height 1.3s;
	height: 0;
	font-size: 14px;
    line-height: 1.5;
}

.expand-block a{
    text-decoration: none;
    font-size: 14px;
}

.login-form input, .registration-form input{
	box-sizing: border-box;
	padding-left: 30px;
	font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
}


.large{
	height: 60px;
	width: 100%; 
}



#login-block-btn:checked ~ .login-form {
	display: block;
	height: auto;
    -webkit-transition: 1.35s;
    -moz-transition: 1.35s;
    transition: 1.35s
}

#login-block-btn:checked ~ .login-block-label {
	color: #000;
	cursor: default;
}

#reg-block-btn:checked ~ .registration-form {
	display: block;
	height: auto;
    -webkit-transition: 1.35s;
    -moz-transition: 1.35s;
    transition: 1.35s
}

#reg-block-btn:checked ~ .reg-block-label {
	color: #000;
	cursor: default;
}

#login-btn, #reg-btn{
	background-color: #63bb80; /* Green */
    border: none;
	width: 100%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin-top: 30px;
	margin-bottom: 50px;
	height: 64px;
}

#e-mail-confirmation p, .login-form p, #reg-complete p, .content-msg p{
	line-height: 1.5;
	font-size: 14px;
}


#e-mail-confirmation a, .login-form a, #reg-complete a{
	color: #124eb1;
	font-size: 14px;
	text-decoration: none;
}

.login-form a{
	float: right;
	padding: 20px 0 0 0;
}



.login-block-label, .reg-block-label, .menu-label{
	display: block;
	/*width: 100%;*/
	padding: 30px 0;
	font-size: 18px;
	cursor: pointer;
	color: #124eb1;
}

#personal-info-btn:checked ~ .personal-info-block, #profile-stat-btn:checked ~ .profile-stat-block, #about-btn:checked ~ .about-block,
#friends-btn:checked ~ .friends-block, #groups-btn:checked ~ .groups-block, #created-events-btn:checked ~ .created-events-block, 
#history-btn:checked ~ .history-block, #bookmarks-btn:checked ~ .bookmarks-block, #balance-btn:checked ~ .balance-block, #settings-btn:checked ~ .settings-block  {
    display: block;
	height: auto;
    -webkit-transition: 1.35s;
    -moz-transition: 1.35s;
    -o-transition: 1.35s;
    transition: 1.35s
}

.clr-fld-lbl{
    color:#929292;
}

.menu-label{
	display: block;
	/*width: 100%;*/
	padding: 24px 0;
	font-size: 16px;
	cursor: pointer;
	color: #000;
}

.menu-label{
	border-top: 1px solid #f2f2f2;
}

.locked-label{
	display: block;
    float: left;
    width: 12px;
    height: 17px;
    margin: 0 21px 1px 0;
	background: url(../img/icon-unlocked.png) no-repeat;
}

.locked-chk:checked ~ .locked-label{
	background: url(../img/icon-locked.png) no-repeat;
}

.spec-menu-btn{
	background: url(../img/icon-spec-menu.png) no-repeat;
	height: 28px;
    width: 30px;
    display: block;
    float: right;
    margin-top: -5px;
}


.login-block-label:hover, .reg-block-label:hover{
	color: #124eb1;
}

.event-name, .history-name, .setting-items{
    padding-bottom: 10px;
}

.central-button {
	z-index: 1;
	margin: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background: #fff url(../img/icon-map-object.png) center no-repeat;
/*	background-color: #9ec6d0;
	display : inline-block;
	vertical-align: center;
	text-align: center;
	display: -webkit-box; /* !хак! для Android 4.3-, должен идти после inline-block */
}

.popup {
	z-index: 8;
	display:none;
	margin: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 405px;
	width: 300px;
	margin-top: -115px;
	margin-left: -150px;
	background-color: #fff;
  	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.15);
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.15); /* Параметры тени */
}

.popup.active{
	display:block;
}


.popup-header {
  height: 58px;
  width: 100%;
  /*background-color: #00eeff;*/
  border-bottom: 1px solid #f2f2f2;
}

.rating-counter-block {
  height: 22px;
  width: 90px;
  padding: 18px;
  float: left;
}

.rating-counter-icon {
  height: 20px;
  width: 20px;
  background: #fff url(../img/icon-rating-star.png) center no-repeat;
  background-color: #eaeaea;
  float: left;
}

span.rating-counter-value {
  display:inline-block;		
  height: 20px;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  color: #848484;
  padding-left: 5px;
  padding-top: 6px;
}

.popup-header a {
  display: block;
  float: right;
  width: 44px;
  height: 44px;
  background: #fff url(../img/icon-expand-panel.png) center no-repeat;
  background-color: #eaeaea;
  margin: 7px 10px;
}

.popup-header a:hover{
	background: #fff url(../img/icon-expand-panel_act.png) center no-repeat;
}

.popup-content {
  height: 286px;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #f2f2f2;
}

.popup-content h2{
	text-align: center;
}
.popup-content span{
}

.user-date, .user-status{
	font-family: 'Open Sans', sans-serif;
	color: #000;
}

.user-date{
	font-size: 12px;
	padding-top:5px;
	display: inline-block;
	margin: 6px 0 3px 0;
}

.user-status{
	font-size: 13px;
}

.popup-avatar {
  height: 96px;
  width: 96px;
  -moz-border-radius: 48px;
  -webkit-border-radius: 48px;
  border-radius: 48px;
  background: #fff url(../img/img-user-avatar.png) center no-repeat;
 /* background-color: #9ec6d0; */
  margin: 31px auto;
}

.popup-buttons-block {
  height: 58px;
  width: 100%;
  /*background-color: #eeee00; */
  border-top: 1px solid #f2f2f2;
}

ul.popup-buttons {
  padding: 0;
  margin: 0;
}

ul.popup-buttons li {
  display: inline-block;
  float: left;
  width: 44px;
  height: 44px;
  padding: 7px 10px;

}

ul.popup-buttons li a {
  display: block;
  width: 44px;
  height: 44px;
  background-color: #eaeaea;
  padding: 0;
  margin: 0;
}

ul.popup-buttons li a.send-msg {
	background: url(../img/icon-popup-send-msg.png) no-repeat;
}
	
ul.popup-buttons li a.send-msg:hover {
	background: url(../img/icon-popup-send-msg_act.png) no-repeat;
}

ul.popup-buttons li a.friend-request {
	background: url(../img/icon-popup-friend-request.png) no-repeat;
}
	
ul.popup-buttons li a.friend-request:hover  {
	background: url(../img/icon-popup-friend-request_act.png) no-repeat;
}

ul.popup-buttons li a.create-group {
	background: url(../img/icon-popup-create-group.png) no-repeat;
}
	
ul.popup-buttons li a.create-group:hover  {
	background: url(../img/icon-popup-create-group_act.png) no-repeat;
}

ul.popup-buttons li a.complaint {
	background: url(../img/icon-popup-complaint.png) no-repeat;
}
	
ul.popup-buttons li a.complaint:hover  {
	background: url(../img/icon-popup-complaint_act.png) no-repeat;
}



.map-object{
	z-index: 1;
	position: absolute;
	top: 20%;
	left: 2%;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background-color: #ffd6aa;
}


#debug-info {
	z-index: 1;
	position: absolute;
	top: 10%;
	left: 20%;
	width: 200px;
	height: 100px;
	color: #999;
}

.panel-container{/*
    height: 90%;
    max-height: 90%;
    overflow-y: auto;*/
}


.left-panel {
	z-index: 3;
	display: block;
	position: absolute;
	top: 0;
	list-style:none;
	margin: 0;
	min-width: 259px;
	max-width: 740px;
	background-color: #fff;
	display:none;
	/*left: -480px;*/
	transition: left .2s;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	box-sizing: border-box;
	border: 1px solid #f2f2f2;
	border-right: none;
	min-height: 100%;
  	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.15);
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.15); /* Параметры тени */
}

.expand-arrow{
	z-index: 3;
	display: block;
	position: absolute;
	top: 0;
	width: 48px;
	height: 100px;
	background: #fff url(../img/expand-arrow.svg) center no-repeat;
	cursor: pointer;
}

.left-panel.active .expand-arrow {
	right: -50px;
	background: #fff url(../img/expand-arrow.svg) center no-repeat;
}

.left-panel.active .expand-arrow:hover {
	background: #fff url(../img/expand-arrow-act.svg) center no-repeat;
}

.left-panel.active.expanded .expand-arrow {
	background: #fff url(../img/roll_up-arrow.svg) center no-repeat;
}

.left-panel.active.expanded .expand-arrow:hover {
	background: #fff url(../img/roll_up-arrow-act.svg) center no-repeat;	
}

.right-panel.active .expand-arrow {
	left: -50px;
	background: #fff url(../img/roll_up-arrow.svg) center no-repeat;
}

.right-panel.active .expand-arrow:hover {
	background: #fff url(../img/roll_up-arrow-act.svg) center no-repeat;
}

.right-panel.active.expanded .expand-arrow {
	background: #fff url(../img/expand-arrow.svg) center no-repeat;
}

.right-panel.active.expanded .expand-arrow:hover {
	background: #fff url(../img/expand-arrow-act.svg) center no-repeat;	
}

.right-panel {
	z-index: 2;
	display: none;
	position: absolute;
	top: 0;
	list-style:none;
	margin: 0;
	/*width: 100%;*/
	width: 259px;
	max-width: 740px;
	background-color: #fff;
	right: -480px;
	transition: right .4s;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	box-sizing: border-box;
	border-bottom: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	min-height: 100%;
}


.left-panel.active {
	left: 61px;
	display: block;
}

.left-panel.active.full-screen {
	left: 0px;
}

.right-panel.active {
	display: block;
	right: 0px;
}

/*.expanded {
	max-width: 50%;
}*/

.search {
	padding: 10px;
	height: 100px;

}

.user-profile {
	height: 100%;
}

.profile-header, .login-header {
	display: block;
	position: relative;
	height: 100px;
	box-sizing: border-box;
}

.profile-avatar, .w320 .profile-avatar {
	display: none;
	position: absolute;
	width: 100px;
}

.w460 .profile-avatar, .w600 .profile-avatar {
	display: block;
}

.right-panel.w460 .profile-avatar{
	left: 84px;
}

.right-panel.w600 .profile-avatar{
	left: 104px;
}



.user-name-block{
	position: absolute;
	left: 0px;
	right: 118px;
/*	padding-left: 100px;*/
	padding: 30px 0 0 10px;
}

.right-panel .user-name-block {
	left: 64px;
	right: 64px;
}

.w460 .user-name-block, .w600 .user-name-block{
	left: 100px;
}

.right-panel.w460 .user-name-block, .right-panel.w320 .user-name-block{
	left: 184px;
	right: 84px;
}

.right-panel.w600 .user-name-block{
	left: 204px;
	right: 104px;
}


h2.user-name{
	margin: 0px;
	font-family: RistrettoPro-Regular, 'Comic Sans MS', cursive;
	font-size: 1.8em;
}


span.user-info {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #999;
}



.panel-cntr-block, .panel-cntr-block-left, .panel-cntr-block-right {
  position: absolute;
  height: 100px;
  display: block;
}

.panel-cntr-block {
  right: 0;
  width: 118px;
}

.panel-cntr-block-left {
  left: 0;
  width: 64px;
}

.panel-cntr-block-right {
  right: 0;
  width: 64px;
}

.w320 .panel-cntr-block, .w460 .panel-cntr-block {
  width: 138px;
}

.w320 .panel-cntr-block-left,.w320 .panel-cntr-block-right{
	width: 84px;
}

.w460 .panel-cntr-block-left,.w460 .panel-cntr-block-right{
	width: 84px;
}


.w600 .panel-cntr-block {
  width: 158px;
}

.w600 .panel-cntr-block-left,.w600 .panel-cntr-block-right{
	width: 104px;
}

ul.panel-buttons {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100px;
}

ul.panel-buttons li {
  width: 44px;
  height: 44px;
}

ul.panel-buttons .left_btn {
    float: left;
    margin: 4px 0 0 10px;
}

.left-panel .panel-buttons .left_btn:nth-child(2){ /* компенсируем отсутствие кнопки pin на левой панели */
    float: left;
    margin: 52px 0 0 10px;
}

ul.panel-buttons .right_btn {
    float: right;
     margin: 4px 10px 0 0;
}

ul.panel-buttons li a {
  display: block;
  /*border: 1px solid #fad; */
  width: 44px;
  height: 44px;
}

ul.panel-buttons li a.pin-pnl {
/*	margin: 4px 0 0 10px; */
	background: url(../img/icon-cntr-pin.svg) center no-repeat;
}

ul.panel-buttons li a.pin-pnl:hover {
	background: url(../img/icon-cntr-pin_act.svg) center no-repeat;
}

ul.panel-buttons li a.extra-buttons-pnl {
/*	margin: 4px 0 0 10px; */
	background: url(../img/icon-cntr-extra-buttons.svg) center no-repeat;
}

ul.panel-buttons li a.extra-buttons-pnl.active {
	background: url(../img/icon-cntr-extra-buttons_act.svg) center no-repeat;
}

ul.panel-buttons li a.extra-buttons-pnl:hover {
	background: url(../img/icon-cntr-extra-buttons_hover.svg) center no-repeat;
}

ul.panel-buttons li a.extra-buttons-pnl.active:hover {
	background: url(../img/icon-cntr-extra-buttons_act.svg) center no-repeat;
}

.w320 ul.panel-buttons .left_btn, .w460 ul.panel-buttons .left_btn {
	margin-left: 20px;
}

.w320 ul.panel-buttons .right_btn, .w460 ul.panel-buttons .right_btn {
	margin-right: 20px;
}

.w320 .user-name-block ,.w460 .user-name-block{
    padding-left: 20px;
}

.w320 .network-name-block ,.w460 .network-name-block{
    padding-left: 20px;
}

.w600 ul.panel-buttons .left_btn {
	margin-left: 30px;
}

.w600 ul.panel-buttons .right_btn {
	margin-right: 30px;
}

.w600 .user-name-block, .w600 .network-name-block{
    padding-left: 30px;
}

ul.panel-buttons li a.close-pnl {
/*	margin: 4px 0 0 5px; */
	background: url(../img/icon-cntr-close.svg) center no-repeat;
}

ul.panel-buttons li a.close-pnl:hover {
	background: url(../img/icon-cntr-close_act.svg) center no-repeat;
}


ul.panel-buttons li a.change-width-pnl {
	background: url(../img/icon-cntr-width-change.svg) center no-repeat;
}

.left-panel ul.panel-buttons li a.change-width-pnl.mx {
	background: url(../img/icon-cntr-width-change_mx.svg) center no-repeat;
}

.left-panel ul.panel-buttons li a.change-width-pnl.mn {
	background: url(../img/icon-cntr-width-change_mn.svg) center no-repeat;
}

.right-panel ul.panel-buttons li a.change-width-pnl.mx {
	background: url(../img/icon-cntr-width-change_mn.svg) center no-repeat;
}

.right-panel ul.panel-buttons li a.change-width-pnl.mn {
	background: url(../img/icon-cntr-width-change_mx.svg) center no-repeat;
}

ul.panel-buttons li a.change-width-pnl:hover {
	background: url(../img/icon-cntr-width-change_act.svg) center no-repeat;
}

.left-panel ul.panel-buttons li a.change-width-pnl.mx:hover {
	background: url(../img/icon-cntr-width-change_mx_act.svg) center no-repeat;
}

.left-panel ul.panel-buttons li a.change-width-pnl.mn:hover {
	background: url(../img/icon-cntr-width-change_mn_act.svg) center no-repeat;
}

.right-panel ul.panel-buttons li a.change-width-pnl.mx:hover  {
	background: url(../img/icon-cntr-width-change_mn_act.svg) center no-repeat;
}

.right-panel ul.panel-buttons li a.change-width-pnl.mn:hover  {
	background: url(../img/icon-cntr-width-change_mx_act.svg) center no-repeat;
}





.middle ul.panel-buttons li a.close-pnl, .middle ul.panel-buttons li a.change-width-pnl{
/*	margin: 4px 0 0 15px; */
}



.profile-buttons, .profile-extra-buttons {
	width: 100%;
	position: relative;
	margin: 0px auto;
	height: 64px;
	box-sizing: border-box;
    border-bottom: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
}

ul.profile-buttons, ul.profile-extra-buttons {
	display: none;
}


ul.profile-buttons.active, ul.profile-extra-buttons.active {
	list-style:none;
	padding: 0 10px;
	text-align: center;
	display: -webkit-box; /* Android 4.3-, Safari без оптимизации */
	-webkit-box-pack: justify; /* Android 4.3-, Safari без оптимизации */
	display: -webkit-flex; /* оптимизация для Safari */
	-webkit-justify-content: space-between; /* оптимизация для Safari */
	display: flex;
	justify-content: space-between;
	text-align: justify; /* IE10-, Firefox 12-22 */
	text-align-last: justify; /* IE10-, Firefox 12-22 */
}


ul.profile-extra-buttons {
	display: none;
}


.w460 ul.profile-buttons, .w460 ul.profile-extra-buttons{
padding: 0 20px;
}

.w600 ul.profile-buttons, .w600 ul.profile-extra-buttons{
padding: 0 30px;
}

ul.profile-buttons li, ul.profile-extra-buttons li {
	width: 44px;
	height: 44px;
	padding: 10px 0;
	display : inline-block;
	vertical-align: top;
	text-align: center;
	display: -webkit-box; /* !хак! для Android 4.3-, должен идти после inline-block */
}

ul.profile-buttons li a, ul.profile-extra-buttons li a{
    display: block;
	width: 44px;
	height: 44px;
}

ul.profile-buttons li a.personal-info {
	background: url(../img/icon-tab-personal-info.png) no-repeat;
}

ul.profile-buttons li a.public {
	background: url(../img/icon-tab-public.png) no-repeat;
}

ul.profile-buttons li a.news-feed {
	background: url(../img/icon-tab-news-feed.png) no-repeat;
}

ul.profile-buttons li a.event {
	background: url(../img/icon-tab-event.png) no-repeat;
}

ul.profile-buttons li a.shop {
	background: url(../img/icon-tab-shop.png) no-repeat;
}

ul.profile-buttons li a:hover, ul.profile-buttons li a.active  {
	background-position: 0 100%;
}

ul.profile-extra-buttons li a.profile-search {
	background: url(../img/icon-extra-profile-search.png) no-repeat;
}

ul.profile-extra-buttons li a.add-bookmark{
	background: url(../img/icon-extra-add-bookmark.png) no-repeat;
}
ul.profile-extra-buttons li a.share{
	background: url(../img/icon-extra-share.png) no-repeat;
}
ul.profile-extra-buttons li a.complaint {
	background: url(../img/icon-extra-complaint.png) no-repeat;
}
ul.profile-extra-buttons li a:hover, ul.profile-extra-buttons li a.active  {
	background-position: 0 100%;
}



.post-full-image img{
	width: 100%;
}	


.outer-tab-content-container{
	position: relative;
	overflow: hidden;
}


.inner-tab-content-container {
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.inner-tab-content-container::-webkit-scrollbar {
    display: none;
}

.tab-content{
	font-family: 'Open Sans', sans-serif;
	font-size: 14pt;
	color: #4b4b4b;
}

	
.tab-content p {
	padding: 30px 10px;
	/*font-size: 0.8em;*/
	line-height: 1.5;
}

.login-form p, .registration-form  p, .content-msg p{
	padding: 20px 0;
}



/* 
.w320 .tab-content p {
	padding: 30px 20px;
	font-size: 0.8em;
}	

.w460 .tab-content p {
	padding: 30px 20px;
}

.w600 .tab-content p {
	padding: 30px 30px;
} */

.content-wrapper p, .expand-block p{
	padding-left: 0;
	padding-right: 0;
}



.stat_info_row {
	font-size: 13px;
	line-height: 1.5;
	display: block;
	padding-bottom: 15px;
}	

.stat_info_row: after{ 
clear: both;
}

.field-label {
	color: #929292;
	width:40%;
	float:left;
}

.field-value{
	overflow: hidden;
	color: #333333;
}
.field-value .approved{
    color: #2bb34b;	
}
.side-bar-container{
	min-height: 100%;
	
}

#side-bar {
	z-index: 3;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	/*padding-top: 21px;*/
	width: 61px;
	background-color: rgba(100%,100%,100%,.7);
	box-sizing: border-box;
	border-right: 1px solid #f2f2f2;
	min-height: 100%;
	
}

#side-bar.hidden {
	left: -60px;
}

#side-bar.minimized {
	width: 128px;
}

ul.side-bar-buttons {
	padding-top: 5px;
}


ul.side-bar-buttons li {
	float: left;
	width: 44px;
	height: 44px;
	padding: 15px 8px 15px 8px;
	list-style-type: none;
}



ul.side-bar-buttons li a {
    display: block;
	width: 44px;
	height: 44px;
	/*padding: 7px 11px 7px 9px; */
	background-color:e6e6e6;
	

}

ul.side-bar-buttons li a.search-btn{
	background: url(../img/icon-search.svg) center no-repeat;
}

ul.side-bar-buttons li a.search-btn:hover{
	background: url(../img/icon-search_act.svg) center no-repeat;
}


ul.side-bar-buttons li a.profile-btn{
	background: url(../img/icon-profile.svg) center no-repeat;
}

ul.side-bar-buttons li a.profile-btn:hover{
	background: url(../img/icon-profile_act.svg) center no-repeat;
}

ul.side-bar-buttons li a.events-btn{
	background: url(../img/icon-events.svg) center no-repeat;
}

ul.side-bar-buttons li a.events-btn:hover{
	background: url(../img/icon-events_act.svg) center no-repeat;
}

ul.side-bar-buttons li a.messages-btn{
	background: url(../img/icon-mail.svg) center no-repeat;
}

ul.side-bar-buttons li a.messages-btn:hover {
	background: url(../img/icon-mail_act.svg) center no-repeat;
}

ul.side-bar-buttons li a.comments-btn{
	background: url(../img/icon-chat.svg) center no-repeat;
}

ul.side-bar-buttons li a.comments-btn:hover{
	background: url(../img/icon-chat_act.svg) center no-repeat;
}

ul.side-bar-buttons li a.map-btn{
	background: url(../img/icon-map.svg) center no-repeat;
}

ul.side-bar-buttons li a.map-btn:hover{
	background: url(../img/icon-map_act.svg) center no-repeat;
}





